<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.calclab.function">
      <client
            class="com.calclab.functions.common.LogFunction"
            name="log">
         <information
               description="%information.description"
               example="r = log(1000);"
               example_result="6.90775527898213705"
               syntax="log(x)">
         </information>
         <information
               description="%information.description.0"
               example="r = log(2,8);"
               example_result="3"
               syntax="log(x,y)">
         </information>
      </client>
      <client
            class="com.calclab.functions.common.ExpFunction"
            name="exp">
         <information
               description="%information.description.1"
               example="y = exp(1);"
               example_result="2.718281828459045235360287471352662497757247093699959574966967"
               syntax="exp(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.common.HelpFunction"
            name="help">
         <information
               description="%information.description.2"
               example="help"
               example_result="Help information"
               syntax="help">
         </information>
         <information
               description="%information.description.3"
               example="help sin"
               example_result="Help information about sin function"
               syntax="help function">
         </information>
      </client>
      <client
            class="com.calclab.functions.common.SqrtFunction"
            name="sqrt">
         <information
               description="%information.description.4"
               example="y = sqrt(16);"
               example_result="4"
               syntax="sqrt(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.common.MinFunction"
            name="min">
         <information
               description="%information.description.5"
               example="z = min(16,11);"
               example_result="11"
               syntax="min(x,y)">
         </information>
      </client>
      <client
            class="com.calclab.functions.common.MaxFunction"
            name="max">
         <information
               description="%information.description.6"
               example="z = max(16,11);"
               example_result="16"
               syntax="max(x,y)">
         </information>
      </client>
   </extension>

</plugin>
