<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.calclab.function">
      <client
            class="com.calclab.functions.trigonometric.SinFunction"
            name="sin">
         <information
               description="%information.description"
               example="y = sin(0.5);"
               example_result="0.479425538604203"
               syntax="sin(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.CosFunction"
            name="cos">
         <information
               description="%information.description.0"
               example="y = cos(0.5);"
               example_result="0.8775825618903728"
               syntax="cos(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.SindFunction"
            name="sind">
         <information
               description="%information.description.1"
               example="y = sind(30);"
               example_result="0.5"
               syntax="sind(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.CosdFunction"
            name="cosd">
         <information
               description="%information.description.2"
               example="y = cosd(0);"
               example_result="1"
               syntax="cosd(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.CtgFunction"
            name="ctg">
         <information
               description="%information.description.3"
               example="y = ctg(0.5);"
               example_result="1.83048772171245"
               syntax="ctg(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.TgdFunction"
            name="tgd">
         <information
               description="%information.description.4"
               example="y = tgd(30);"
               example_result="0.5773502691896"
               syntax="tgd(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.CtgdFunction"
            name="ctgd">
         <information
               description="%information.description.5"
               example="y = ctgd(0);"
               example_result="∞"
               syntax="ctgd(x)">
         </information>
      </client>
      <client
            class="com.calclab.functions.trigonometric.TgFunction"
            name="tg">
         <information
               description="%information.description.6"
               example="y = tg(0.5);"
               example_result="0.5463024898437"
               syntax="tg(x)">
         </information>
      </client>
   </extension>

</plugin>
