<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.calclab.function">
      <client
            class="com.calclab.functions.trigonometric.SinFunction"
            name="sin">
         <information
               description="Sine of a number x. Argument is measured in radians. To calculate the sine an argument in degrees, use sind (x)."
               example="y = sin(0.5);"
               example_result="0.4794255386042"
               syntax="sin(x)">
         </information>
      </client>
   </extension>

</plugin>
